html {
  font-size: 62, 5%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

main {
  margin-top: 64px;
}

@media screen and (max-width: 600px) {
  main {
    margin-top: 47px;
  }
}
